In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto81/vacunacion_comuna_edad_1eraDosis.csv')
df.head()

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,15,16,17,18,19,...,71,72,73,74,75,76,77,78,79,80
0,Arica y Parinacota,15,Arica,15101.0,247552.0,0.0,0.0,0.0,510.0,716.0,...,1376.0,1334.0,1306.0,1219.0,1159.0,997.0,1062.0,902.0,750.0,5099.0
1,Arica y Parinacota,15,Camarones,15102.0,1233.0,0.0,0.0,0.0,3.0,2.0,...,3.0,22.0,11.0,17.0,6.0,5.0,6.0,5.0,6.0,27.0
2,Arica y Parinacota,15,General Lagos,15202.0,810.0,0.0,0.0,0.0,1.0,0.0,...,3.0,7.0,2.0,4.0,5.0,3.0,4.0,4.0,2.0,10.0
3,Arica y Parinacota,15,Putre,15201.0,2515.0,0.0,0.0,0.0,1.0,2.0,...,10.0,12.0,2.0,13.0,10.0,4.0,9.0,9.0,8.0,51.0
4,Arica y Parinacota,15,Desconocido Arica y Parinacota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

a continuacion lo que hace loc es dejarme solo las lineas que contengan metropolitana en su columna de region

In [3]:
df=df.loc[df['Region']=='Metropolitana']
df.head(55)

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,15,16,17,18,19,...,71,72,73,74,75,76,77,78,79,80
88,Metropolitana,13,Alhue,13502.0,7405.0,0.0,0.0,0.0,17.0,19.0,...,64.0,40.0,44.0,35.0,34.0,37.0,26.0,31.0,22.0,192.0
89,Metropolitana,13,Buin,13402.0,109641.0,0.0,0.0,0.0,230.0,280.0,...,602.0,541.0,484.0,436.0,416.0,415.0,368.0,353.0,303.0,2165.0
90,Metropolitana,13,Calera de Tango,13403.0,28525.0,0.0,0.0,0.0,98.0,77.0,...,194.0,190.0,143.0,149.0,131.0,144.0,125.0,107.0,73.0,714.0
91,Metropolitana,13,Cerrillos,13102.0,88956.0,0.0,0.0,0.0,161.0,140.0,...,456.0,474.0,498.0,511.0,379.0,428.0,388.0,376.0,392.0,2376.0
92,Metropolitana,13,Cerro Navia,13103.0,142465.0,0.0,0.0,0.0,272.0,355.0,...,817.0,784.0,740.0,682.0,723.0,634.0,590.0,561.0,497.0,3085.0
93,Metropolitana,13,Colina,13301.0,180353.0,0.0,0.0,0.0,293.0,390.0,...,605.0,554.0,531.0,548.0,458.0,447.0,394.0,321.0,299.0,1846.0
94,Metropolitana,13,Conchali,13104.0,139195.0,0.0,0.0,0.0,325.0,406.0,...,778.0,873.0,866.0,791.0,755.0,694.0,639.0,689.0,595.0,4673.0
95,Metropolitana,13,Curacavi,13503.0,36430.0,0.0,0.0,0.0,85.0,77.0,...,247.0,240.0,228.0,213.0,203.0,184.0,171.0,162.0,137.0,977.0
96,Metropolitana,13,El Bosque,13105.0,172000.0,0.0,0.0,0.0,293.0,454.0,...,1055.0,993.0,947.0,881.0,869.0,833.0,740.0,704.0,616.0,4322.0
97,Metropolitana,13,El Monte,13602.0,40014.0,0.0,0.0,0.0,80.0,84.0,...,236.0,235.0,201.0,217.0,176.0,141.0,157.0,138.0,141.0,817.0
98,Metropolitana,13,Estacion Central,13106.0,206792.0,0.0,0.0,0.0,271.0,327.0,...,750.0,796.0,754.0,743.0,663.0,654.0,618.0,623.0,529.0,4005.0
99,Metropolitana,13,Huechuraba,13107.0,112528.0,0.0,0.0,0.0,386.0,397.0,...,570.0,560.0,570.0,586.0,512.0,475.0,428.0,381.0,372.0,2086.0
100,Metropolitana,13,Independencia,13108.0,142065.0,0.0,0.0,0.0,138.0,162.0,...,581.0,574.0,501.0,520.0,489.0,482.0,424.0,400.0,385.0,2750.0
101,Metropolitana,13,Isla de Maipo,13603.0,40171.0,0.0,0.0,0.0,74.0,94.0,...,268.0,241.0,215.0,230.0,217.0,184.0,173.0,138.0,131.0,930.0
102,Metropolitana,13,La Cisterna,13109.0,100434.0,0.0,0.0,0.0,163.0,166.0,...,688.0,606.0,623.0,590.0,543.0,533.0,507.0,448.0,446.0,3667.0
103,Metropolitana,13,La Florida,13110.0,402433.0,0.0,0.0,0.0,648.0,826.0,...,2890.0,2762.0,2691.0,2614.0,2361.0,2170.0,1950.0,1781.0,1611.0,10563.0
104,Metropolitana,13,La Granja,13111.0,122557.0,0.0,0.0,0.0,201.0,237.0,...,888.0,835.0,762.0,670.0,643.0,586.0,507.0,481.0,380.0,3431.0
105,Metropolitana,13,La Pintana,13112.0,189335.0,0.0,0.0,0.0,209.0,254.0,...,1016.0,954.0,846.0,771.0,743.0,699.0,555.0,548.0,457.0,2579.0
106,Metropolitana,13,La Reina,13113.0,100252.0,0.0,0.0,0.0,373.0,472.0,...,702.0,711.0,661.0,661.0,587.0,616.0,571.0,530.0,477.0,4017.0
107,Metropolitana,13,Lampa,13302.0,126898.0,0.0,0.0,0.0,157.0,193.0,...,365.0,369.0,348.0,302.0,300.0,256.0,209.0,245.0,196.0,1245.0
108,Metropolitana,13,Las Condes,13114.0,330759.0,0.0,0.0,0.0,760.0,952.0,...,2246.0,2120.0,2058.0,2128.0,1998.0,1973.0,1839.0,1795.0,1648.0,14620.0
109,Metropolitana,13,Lo Barnechea,13115.0,124076.0,0.0,0.0,0.0,475.0,590.0,...,588.0,543.0,502.0,456.0,416.0,413.0,359.0,310.0,296.0,2287.0
110,Metropolitana,13,Lo Espejo,13116.0,103865.0,0.0,0.0,0.0,128.0,181.0,...,568.0,504.0,543.0,460.0,472.0,401.0,383.0,349.0,331.0,2733.0
111,Metropolitana,13,Lo Prado,13117.0,104403.0,0.0,0.0,0.0,192.0,233.0,...,888.0,851.0,894.0,826.0,755.0,775.0,724.0,684.0,587.0,3930.0
112,Metropolitana,13,Macul,13118.0,134635.0,0.0,0.0,0.0,197.0,269.0,...,841.0,817.0,766.0,790.0,698.0,688.0,648.0,644.0,570.0,4369.0
113,Metropolitana,13,Maipu,13119.0,578605.0,0.0,0.0,0.0,1100.0,1320.0,...,3050.0,2899.0,2678.0,2435.0,2270.0,2111.0,1908.0,1711.0,1558.0,10067.0
114,Metropolitana,13,Maria Pinto,13504.0,14926.0,0.0,0.0,0.0,26.0,49.0,...,100.0,101.0,102.0,94.0,96.0,80.0,76.0,50.0,61.0,411.0
115,Metropolitana,13,Melipilla,13501.0,141612.0,0.0,0.0,0.0,724.0,778.0,...,881.0,888.0,769.0,720.0,693.0,721.0,605.0,563.0,535.0,3459.0
116,Metropolitana,13,Nunoa,13120.0,250192.0,0.0,0.0,0.0,509.0,659.0,...,1494.0,1438.0,1442.0,1312.0,1300.0,1228.0,1146.0,1118.0,1032.0,9505.0
117,Metropolitana,13,Padre Hurtado,13604.0,74188.0,0.0,0.0,0.0,162.0,213.0,...,376.0,382.0,317.0,276.0,268.0,283.0,237.0,227.0,196.0,1289.0
118,Metropolitana,13,Paine,13404.0,82766.0,0.0,0.0,0.0,127.0,150.0,...,504.0,460.0,455.0,391.0,354.0,354.0,322.0,266.0,273.0,1585.0
119,Metropolitana,13,Pedro Aguirre Cerda,13121.0,107803.0,0.0,0.0,0.0,153.0,169.0,...,721.0,679.0,667.0,610.0,535.0,540.0,487.0,440.0,398.0,3697.0
120,Metropolitana,13,Penaflor,13605.0,101058.0,0.0,0.0,0.0,190.0,184.0,...,595.0,529.0,497.0,477.0,441.0,366.0,373.0,366.0,317.0,2100.0
121,Metropolitana,13,Penalolen,13122.0,266798.0,0.0,0.0,0.0,636.0,691.0,...,1445.0,1392.0,1390.0,1302.0,1177.0,1196.0,1045.0,1001.0,889.0,5574.0
122,Metropolitana,13,Pirque,13202.0,30433.0,0.0,0.0,0.0,67.0,63.0,...,176.0,179.0,171.0,145.0,152.0,149.0,118.0,109.0,129.0,782.0
123,Metropolitana,13,Providencia,13123.0,157749.0,0.0,0.0,0.0,253.0,366.0,...,1153.0,1135.0,1045.0,1076.0,1022.0,998.0,921.0,879.0,753.0,7419.0
124,Metropolitana,13,Pudahuel,13124.0,253139.0,0.0,0.0,0.0,512.0,636.0,...,1177.0,1071.0,955.0,956.0,859.0,783.0,721.0,679.0,595.0,3838.0
125,Metropolitana,13,Puente Alto,13201.0,645909.0,0.0,0.0,0.0,1264.0,1407.0,...,2664.0,2369.0,2180.0,2102.0,1761.0,1716.0,1525.0,1356.0,1274.0,8543.0
126,Metropolitana,13,Quilicura,13125.0,254694.0,0.0,0.0,0.0,475.0,644.0,...,774.0,694.0,656.0,562.0,513.0,523.0,450.0,368.0,363.0,2094.0
127,Metropolitana,13,Quinta Normal,13126.0,136368.0,0.0,0.0,0.0,227.0,261.0,...,737.0,733.0,681.0,650.0,607.0,550.0,521.0,465.0,503.0,3531.0
128,Metropolitana,13,Recoleta,13127.0,190075.0,0.0,0.0,0.0,249.0,345.0,...,944.0,939.0,831.0,851.0,758.0,763.0,677.0,652.0,631.0,4210.0
129,Metropolitana,13,Renca,13128.0,160847.0,0.0,0.0,0.0,208.0,282.0,...,826.0,818.0,780.0,733.0,716.0,605.0,568.0,541.0,485.0,2839.0
130,Metropolitana,13,San Bernardo,13401.0,334836.0,0.0,0.0,0.0,628.0,744.0,...,1517.0,1432.0,1477.0,1244.0,1152.0,1116.0,1001.0,910.0,770.0,5307.0
131,Metropolitana,13,San Joaquin,13129.0,103485.0,0.0,0.0,0.0,253.0,272.0,...,692.0,679.0,687.0,682.0,595.0,581.0,520.0,521.0,479.0,3389.0
132,Metropolitana,13,San Jose de Maipo,13203.0,18644.0,0.0,0.0,0.0,64.0,75.0,...,137.0,138.0,148.0,115.0,110.0,121.0,111.0,88.0,95.0,542.0
133,Metropolitana,13,San Miguel,13130.0,133059.0,0.0,0.0,0.0,203.0,263.0,...,770.0,725.0,666.0,641.0,628.0,578.0,553.0,545.0,503.0,4096.0
134,Metropolitana,13,San Pedro,13505.0,11953.0,0.0,0.0,0.0,31.0,41.0,...,101.0,113.0,102.0,82.0,83.0,62.0,71.0,89.0,82.0,435.0
135,Metropolitana,13,San Ramon,13131.0,86510.0,0.0,0.0,0.0,202.0,265.0,...,575.0,572.0,575.0,520.0,571.0,487.0,460.0,438.0,411.0,2446.0
136,Metropolitana,13,Santiago,13101.0,503147.0,0.0,0.0,0.0,445.0,603.0,...,1675.0,1609.0,1471.0,1350.0,1309.0,1276.0,1173.0,1069.0,1027.0,7390.0
137,Metropolitana,13,Talagante,13601.0,81838.0,0.0,0.0,0.0,199.0,217.0,...,402.0,403.0,337.0,313.0,327.0,305.0,281.0,268.0,227.0,1695.0
138,Metropolitana,13,Tiltil,13303.0,21477.0,0.0,0.0,0.0,73.0,73.0,...,131.0,117.0,106.0,97.0,87.0,99.0,77.0,74.0,75.0,432.0
139,Metropolitana,13,Vitacura,13132.0,96774.0,0.0,0.0,0.0,217.0,303.0,...,699.0,795.0,689.0,718.0,689.0,710.0,663.0,632.0,575.0,4747.0
140,Metropolitana,13,Desconocido Metropolitana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
rq = pd.read_csv('https://raw.githubusercontent.com/leoferres/gitiele356b/main/data/hdi.csv')
rq

    comuna       LEI        II        EI    idh       HDI
0    13101  0.791672  0.873137  0.924099  0.807  0.861222
1    13102  0.782817  0.800343  0.713499  0.743  0.764616
2    13103  0.752447  0.750382  0.657961  0.683  0.718874
3    13104  0.784872  0.760697  0.705426  0.707  0.749584
4    13105  0.777236  0.780019  0.673876  0.711  0.742015
5    13106  0.790810  0.784378  0.729145  0.735  0.767604
6    13107  0.726330  0.775631  0.641707  0.737  0.712375
7    13108  0.821551  0.751105  0.722493  0.709  0.763935
8    13109  0.856570  0.835740  0.860235  0.775  0.850780
9    13110  0.773094  0.824255  0.791155  0.804  0.795888
10   13111  0.763582  0.751721  0.668837  0.689  0.726793
11   13112  0.673794  0.758585  0.642574  0.679  0.689951
12   13113  0.890647  0.948908  0.968223  0.883  0.935337
13   13114  0.909774  0.971056  0.988014  0.933  0.955683
14   13115  0.831115  0.921621  0.813262  0.912  0.854046
15   13116  0.759407  0.784503  0.690043  0.657  0.743558
16   13117  0.787707  0.775519  0.697989  0.715  0.752665
17   13118  0.831334  0.842243  0.841346  0.806  0.838293
18   13119  0.768126  0.823406  0.808770  0.782  0.799755
19   13120  0.900363  0.947737  0.993361  0.860  0.946392
20   13121  0.815597  0.767565  0.733783  0.708  0.771589
21   13122  0.749867  0.790376  0.660819  0.743  0.731645
22   13123  0.917316  0.948546  1.044039  0.911  0.968496
23   13124  0.708344  0.764565  0.723853  0.735  0.731874
24   13125  0.667144  0.838734  0.763492  0.782  0.753152
25   13126  0.813982  0.794761  0.686444  0.723  0.762931
26   13127  0.775766  0.742308  0.672305  0.697  0.728831
27   13128  0.725183  0.782950  0.674829  0.709  0.726315
28   13129  0.814219  0.815018  0.747089  0.719  0.791456
29   13130  0.855578  0.851691  0.816075  0.765  0.840925
30   13131  0.767104  0.772013  0.605335  0.679  0.710381
31   13132  0.914831  0.996899  1.078779  0.949  0.994584
32   13201  0.725925  0.773923  0.721415  0.773  0.740045
33   13202  0.749975  0.847558  0.735982  0.807  0.776297
34   13203  0.789578  0.828198  0.654495  0.759  0.753607
35   13301  0.667378  0.787350  0.625280    NaN  0.690036
36   13302  0.683453  0.787269  0.688481    NaN  0.718193
37   13303  0.816336  0.775896  0.629003    NaN  0.735826
38   13401  0.743463  0.762822  0.676397  0.712  0.726599
39   13402  0.742570  0.822340  0.737301    NaN  0.766439
40   13403  0.801109  0.760228  0.601466    NaN  0.715509
41   13404  0.738969  0.776218  0.655095    NaN  0.721614
42   13501  0.787502  0.739201  0.642315    NaN  0.720423
43   13502  0.876923  0.756470  0.617345    NaN  0.742609
44   13503  0.811913  0.766193  0.647025    NaN  0.738340
45   13504  0.809846  0.756324  0.617808    NaN  0.723305
46   13505  0.819107  0.690242  0.556089    NaN  0.679979
47   13601  0.794968  0.802522  0.686845    NaN  0.759548
48   13602  0.740793  0.766459  0.679887    NaN  0.728127
49   13603  0.784525  0.808623  0.736952    NaN  0.776123
50   13604  0.764730  0.738680  0.659196  0.728  0.719437
51   13605  0.785732  0.801915  0.698606    NaN  0.760697

In [5]:
pb = pd.read_csv('https://raw.githubusercontent.com/leoferres/gitiele356b/main/data/pobXedadCenso.csv')
pb.head()

   COMUNA EDAD_0A5 EDAD_6A14 EDAD_15A64 EDAD_65YMAS
0    1101        0         0         15           0
1    1101        *         *         54          10
2    1101        *         0         28           *
3    1101        *         7         49           *
4    1101        *         *         26           7

In [6]:
pb.dtypes

COMUNA          int64
EDAD_0A5       object
EDAD_6A14      object
EDAD_15A64     object
EDAD_65YMAS    object
dtype: object

In [7]:
drq =  rq[rq.duplicated()].shape
dpb= pb[pb.duplicated()].shape
ddf = df[df.duplicated()].shape
print(ddf)
print(dpb)
print(drq)

(0, 71)
(25911, 5)
(0, 6)

Arreglamos los asteriscos del dataset de poblacion(pb)
https://www.geeksforgeeks.org/replace-nan-values-with-zeros-in-pandas-dataframe/

In [8]:
pb= pb.replace('*',0)
pb.head()

   COMUNA EDAD_0A5 EDAD_6A14 EDAD_15A64 EDAD_65YMAS
0    1101        0         0         15           0
1    1101        0         0         54          10
2    1101        0         0         28           0
3    1101        0         7         49           0
4    1101        0         0         26           7

In [9]:
pb['EDAD_0A5']=pb['EDAD_0A5'].astype(str).astype(int)
pb['EDAD_6A14']=pb['EDAD_6A14'].astype(str).astype(int)
pb['EDAD_15A64']=pb['EDAD_15A64'].astype(str).astype(int)
pb['EDAD_65YMAS']=pb['EDAD_65YMAS'].astype(str).astype(int)
pb.dtypes

COMUNA         int64
EDAD_0A5       int64
EDAD_6A14      int64
EDAD_15A64     int64
EDAD_65YMAS    int64
dtype: object

pb2 = pb[(pb['COMUNA']== 13502) | (pb['COMUNA']== 13402) | (pb['COMUNA']== 13403)] 
pb2

pb3= pb2.sum(axis=0)
pb3

In [10]:
pb = pb.groupby('COMUNA').sum().reset_index()
pb = pb.rename(columns={'COMUNA':'Codigo_comuna'})
pb

     Codigo_comuna  EDAD_0A5  EDAD_6A14  EDAD_15A64  EDAD_65YMAS
0             1101     15490      22691      132629        16895
1             1107     10105      17365       72866         3908
2             1401       899       1786        9446          864
3             1402        73        134         772          136
4             1403        75        111        1246          148
..             ...       ...        ...         ...          ...
341          14204      1433       2829       19778         3939
342          15101     16125      26165      148234        22224
343          15102        36         74         728          154
344          15201        31         94        2169          118
345          15202        15          0         337           64

[346 rows x 5 columns]

https://www.geeksforgeeks.org/python-pandas-dataframe-groupby/

In [11]:
df = df.dropna()
vac = df.loc[:,'Comuna':'Codigo comuna']
vac = vac.reset_index()
vac =vac.drop(['index'],axis=1)
vac

                 Comuna  Codigo comuna
0                 Alhue        13502.0
1                  Buin        13402.0
2       Calera de Tango        13403.0
3             Cerrillos        13102.0
4           Cerro Navia        13103.0
5                Colina        13301.0
6              Conchali        13104.0
7              Curacavi        13503.0
8             El Bosque        13105.0
9              El Monte        13602.0
10     Estacion Central        13106.0
11           Huechuraba        13107.0
12        Independencia        13108.0
13        Isla de Maipo        13603.0
14          La Cisterna        13109.0
15           La Florida        13110.0
16            La Granja        13111.0
17           La Pintana        13112.0
18             La Reina        13113.0
19                Lampa        13302.0
20           Las Condes        13114.0
21         Lo Barnechea        13115.0
22            Lo Espejo        13116.0
23             Lo Prado        13117.0
24                Macul        13118.0
25                Maipu        13119.0
26          Maria Pinto        13504.0
27            Melipilla        13501.0
28                Nunoa        13120.0
29        Padre Hurtado        13604.0
30                Paine        13404.0
31  Pedro Aguirre Cerda        13121.0
32             Penaflor        13605.0
33            Penalolen        13122.0
34               Pirque        13202.0
35          Providencia        13123.0
36             Pudahuel        13124.0
37          Puente Alto        13201.0
38            Quilicura        13125.0
39        Quinta Normal        13126.0
40             Recoleta        13127.0
41                Renca        13128.0
42         San Bernardo        13401.0
43          San Joaquin        13129.0
44    San Jose de Maipo        13203.0
45           San Miguel        13130.0
46            San Pedro        13505.0
47            San Ramon        13131.0
48             Santiago        13101.0
49            Talagante        13601.0
50               Tiltil        13303.0
51             Vitacura        13132.0

In [12]:
vac.dtypes

Comuna            object
Codigo comuna    float64
dtype: object

In [13]:
vac=vac.rename(columns={'Comuna':'Nombre_comuna','Codigo comuna':'Codigo_comuna'})

In [14]:
merged = pd.merge(vac, pb, on='Codigo_comuna')
merged

,Nombre_comuna,Codigo_comuna,EDAD_0A5,EDAD_6A14,EDAD_15A64,EDAD_65YMAS
0,Alhue,13502.0,309,489,4472,600
1,Buin,13402.0,7296,11651,66360,7667
2,Calera de Tango,13403.0,1700,2991,17442,2072
3,Cerrillos,13102.0,5907,8703,53650,9273
4,Cerro Navia,13103.0,9719,14745,89915,16011
5,Colina,13301.0,13738,21129,98912,7813
6,Conchali,13104.0,8730,12629,85791,16819
7,Curacavi,13503.0,2284,3709,21872,3514
8,El Bosque,13105.0,12071,18633,109501,19321
9,El Monte,13602.0,2865,4375,24123,3363
10,Estacion Central,13106.0,9422,12110,105479,16724
11,Huechuraba,13107.0,8465,13508,66093,9016
12,Independencia,13108.0,7195,8357,72314,10749
13,Isla de Maipo,13603.0,2521,4353,24431,3381
14,La Cisterna,13109.0,6162,8953,61118,12715
15,La Florida,13110.0,24131,37044,251149,45185
16,La Granja,13111.0,8539,12728,79967,13453
17,La Pintana,13112.0,15156,23996,119328,15513
18,La Reina,13113.0,5479,9402,62159,13321
19,Lampa,13302.0,9327,14511,69124,5262
20,Las Condes,13114.0,17548,23766,203649,44861
21,Lo Barnechea,13115.0,7818,15397,73112,7582
22,Lo Espejo,13116.0,7609,11098,67754,11420
23,Lo Prado,13117.0,6532,9574,64747,13745
24,Macul,13118.0,7347,10177,79768,16742
25,Maipu,13119.0,32393,56836,370501,45224
26,Maria Pinto,13504.0,785,1365,9071,1166
27,Melipilla,13501.0,8937,14139,83196,13342
28,Nunoa,13120.0,13414,15287,146549,29777
29,Padre Hurtado,13604.0,5140,7296,43416,5061
30,Paine,13404.0,5240,8900,49671,6332
31,Pedro Aguirre Cerda,13121.0,6654,9736,68628,14007
32,Penaflor,13605.0,6966,11202,61263,8432
33,Penalolen,13122.0,16914,29019,167190,23945
34,Pirque,13202.0,1932,3141,18189,2492
35,Providencia,13123.0,8280,8303,101578,21805
36,Pudahuel,13124.0,17228,27450,162552,18304
37,Puente Alto,13201.0,41148,69347,401186,39781
38,Quilicura,13125.0,15114,28469,150827,9997
39,Quinta Normal,13126.0,7412,10515,76222,14010
40,Recoleta,13127.0,11088,15726,109346,19301
41,Renca,13128.0,11698,17951,99893,14152
42,San Bernardo,13401.0,23331,38188,206389,24187
43,San Joaquin,13129.0,6039,8519,64126,13509
44,San Jose de Maipo,13203.0,1034,1768,11950,1755
45,San Miguel,13130.0,7556,9325,76224,13628
46,San Pedro,13505.0,633,1075,6126,1113
47,San Ramon,13131.0,6064,8842,54971,11905
48,Santiago,13101.0,22618,23769,323893,28936
49,Talagante,13601.0,5619,8762,51047,6648
50,Tiltil,13303.0,1452,2061,13195,1804
51,Vitacura,13132.0,6219,8227,54307,14511

In [15]:
rq=rq.rename(columns={'comuna':'Codigo_comuna'})

In [16]:
merged2 = pd.merge(merged,rq, on='Codigo_comuna')
merged2

,Nombre_comuna,Codigo_comuna,EDAD_0A5,EDAD_6A14,EDAD_15A64,EDAD_65YMAS,LEI,II,EI,idh,HDI
0,Alhue,13502.0,309,489,4472,600,0.876923,0.756470,0.617345,NaN,0.742609
1,Buin,13402.0,7296,11651,66360,7667,0.742570,0.822340,0.737301,NaN,0.766439
2,Calera de Tango,13403.0,1700,2991,17442,2072,0.801109,0.760228,0.601466,NaN,0.715509
3,Cerrillos,13102.0,5907,8703,53650,9273,0.782817,0.800343,0.713499,0.743,0.764616
4,Cerro Navia,13103.0,9719,14745,89915,16011,0.752447,0.750382,0.657961,0.683,0.718874
5,Colina,13301.0,13738,21129,98912,7813,0.667378,0.787350,0.625280,NaN,0.690036
6,Conchali,13104.0,8730,12629,85791,16819,0.784872,0.760697,0.705426,0.707,0.749584
7,Curacavi,13503.0,2284,3709,21872,3514,0.811913,0.766193,0.647025,NaN,0.738340
8,El Bosque,13105.0,12071,18633,109501,19321,0.777236,0.780019,0.673876,0.711,0.742015
9,El Monte,13602.0,2865,4375,24123,3363,0.740793,0.766459,0.679887,NaN,0.728127
10,Estacion Central,13106.0,9422,12110,105479,16724,0.790810,0.784378,0.729145,0.735,0.767604
11,Huechuraba,13107.0,8465,13508,66093,9016,0.726330,0.775631,0.641707,0.737,0.712375
12,Independencia,13108.0,7195,8357,72314,10749,0.821551,0.751105,0.722493,0.709,0.763935
13,Isla de Maipo,13603.0,2521,4353,24431,3381,0.784525,0.808623,0.736952,NaN,0.776123
14,La Cisterna,13109.0,6162,8953,61118,12715,0.856570,0.835740,0.860235,0.775,0.850780
15,La Florida,13110.0,24131,37044,251149,45185,0.773094,0.824255,0.791155,0.804,0.795888
16,La Granja,13111.0,8539,12728,79967,13453,0.763582,0.751721,0.668837,0.689,0.726793
17,La Pintana,13112.0,15156,23996,119328,15513,0.673794,0.758585,0.642574,0.679,0.689951
18,La Reina,13113.0,5479,9402,62159,13321,0.890647,0.948908,0.968223,0.883,0.935337
19,Lampa,13302.0,9327,14511,69124,5262,0.683453,0.787269,0.688481,NaN,0.718193
20,Las Condes,13114.0,17548,23766,203649,44861,0.909774,0.971056,0.988014,0.933,0.955683
21,Lo Barnechea,13115.0,7818,15397,73112,7582,0.831115,0.921621,0.813262,0.912,0.854046
22,Lo Espejo,13116.0,7609,11098,67754,11420,0.759407,0.784503,0.690043,0.657,0.743558
23,Lo Prado,13117.0,6532,9574,64747,13745,0.787707,0.775519,0.697989,0.715,0.752665
24,Macul,13118.0,7347,10177,79768,16742,0.831334,0.842243,0.841346,0.806,0.838293
25,Maipu,13119.0,32393,56836,370501,45224,0.768126,0.823406,0.808770,0.782,0.799755
26,Maria Pinto,13504.0,785,1365,9071,1166,0.809846,0.756324,0.617808,NaN,0.723305
27,Melipilla,13501.0,8937,14139,83196,13342,0.787502,0.739201,0.642315,NaN,0.720423
28,Nunoa,13120.0,13414,15287,146549,29777,0.900363,0.947737,0.993361,0.860,0.946392
29,Padre Hurtado,13604.0,5140,7296,43416,5061,0.764730,0.738680,0.659196,0.728,0.719437
30,Paine,13404.0,5240,8900,49671,6332,0.738969,0.776218,0.655095,NaN,0.721614
31,Pedro Aguirre Cerda,13121.0,6654,9736,68628,14007,0.815597,0.767565,0.733783,0.708,0.771589
32,Penaflor,13605.0,6966,11202,61263,8432,0.785732,0.801915,0.698606,NaN,0.760697
33,Penalolen,13122.0,16914,29019,167190,23945,0.749867,0.790376,0.660819,0.743,0.731645
34,Pirque,13202.0,1932,3141,18189,2492,0.749975,0.847558,0.735982,0.807,0.776297
35,Providencia,13123.0,8280,8303,101578,21805,0.917316,0.948546,1.044039,0.911,0.968496
36,Pudahuel,13124.0,17228,27450,162552,18304,0.708344,0.764565,0.723853,0.735,0.731874
37,Puente Alto,13201.0,41148,69347,401186,39781,0.725925,0.773923,0.721415,0.773,0.740045
38,Quilicura,13125.0,15114,28469,150827,9997,0.667144,0.838734,0.763492,0.782,0.753152
39,Quinta Normal,13126.0,7412,10515,76222,14010,0.813982,0.794761,0.686444,0.723,0.762931
40,Recoleta,13127.0,11088,15726,109346,19301,0.775766,0.742308,0.672305,0.697,0.728831
41,Renca,13128.0,11698,17951,99893,14152,0.725183,0.782950,0.674829,0.709,0.726315
42,San Bernardo,13401.0,23331,38188,206389,24187,0.743463,0.762822,0.676397,0.712,0.726599
43,San Joaquin,13129.0,6039,8519,64126,13509,0.814219,0.815018,0.747089,0.719,0.791456
44,San Jose de Maipo,13203.0,1034,1768,11950,1755,0.789578,0.828198,0.654495,0.759,0.753607
45,San Miguel,13130.0,7556,9325,76224,13628,0.855578,0.851691,0.816075,0.765,0.840925
46,San Pedro,13505.0,633,1075,6126,1113,0.819107,0.690242,0.556089,NaN,0.679979
47,San Ramon,13131.0,6064,8842,54971,11905,0.767104,0.772013,0.605335,0.679,0.710381
48,Santiago,13101.0,22618,23769,323893,28936,0.791672,0.873137,0.924099,0.807,0.861222
49,Talagante,13601.0,5619,8762,51047,6648,0.794968,0.802522,0.686845,NaN,0.759548
50,Tiltil,13303.0,1452,2061,13195,1804,0.816336,0.775896,0.629003,NaN,0.735826
51,Vitacura,13132.0,6219,8227,54307,14511,0.914831,0.996899,1.078779,0.949,0.994584

In [17]:
rq

    Codigo_comuna       LEI        II        EI    idh       HDI
0           13101  0.791672  0.873137  0.924099  0.807  0.861222
1           13102  0.782817  0.800343  0.713499  0.743  0.764616
2           13103  0.752447  0.750382  0.657961  0.683  0.718874
3           13104  0.784872  0.760697  0.705426  0.707  0.749584
4           13105  0.777236  0.780019  0.673876  0.711  0.742015
5           13106  0.790810  0.784378  0.729145  0.735  0.767604
6           13107  0.726330  0.775631  0.641707  0.737  0.712375
7           13108  0.821551  0.751105  0.722493  0.709  0.763935
8           13109  0.856570  0.835740  0.860235  0.775  0.850780
9           13110  0.773094  0.824255  0.791155  0.804  0.795888
10          13111  0.763582  0.751721  0.668837  0.689  0.726793
11          13112  0.673794  0.758585  0.642574  0.679  0.689951
12          13113  0.890647  0.948908  0.968223  0.883  0.935337
13          13114  0.909774  0.971056  0.988014  0.933  0.955683
14          13115  0.831115  0.921621  0.813262  0.912  0.854046
15          13116  0.759407  0.784503  0.690043  0.657  0.743558
16          13117  0.787707  0.775519  0.697989  0.715  0.752665
17          13118  0.831334  0.842243  0.841346  0.806  0.838293
18          13119  0.768126  0.823406  0.808770  0.782  0.799755
19          13120  0.900363  0.947737  0.993361  0.860  0.946392
20          13121  0.815597  0.767565  0.733783  0.708  0.771589
21          13122  0.749867  0.790376  0.660819  0.743  0.731645
22          13123  0.917316  0.948546  1.044039  0.911  0.968496
23          13124  0.708344  0.764565  0.723853  0.735  0.731874
24          13125  0.667144  0.838734  0.763492  0.782  0.753152
25          13126  0.813982  0.794761  0.686444  0.723  0.762931
26          13127  0.775766  0.742308  0.672305  0.697  0.728831
27          13128  0.725183  0.782950  0.674829  0.709  0.726315
28          13129  0.814219  0.815018  0.747089  0.719  0.791456
29          13130  0.855578  0.851691  0.816075  0.765  0.840925
30          13131  0.767104  0.772013  0.605335  0.679  0.710381
31          13132  0.914831  0.996899  1.078779  0.949  0.994584
32          13201  0.725925  0.773923  0.721415  0.773  0.740045
33          13202  0.749975  0.847558  0.735982  0.807  0.776297
34          13203  0.789578  0.828198  0.654495  0.759  0.753607
35          13301  0.667378  0.787350  0.625280    NaN  0.690036
36          13302  0.683453  0.787269  0.688481    NaN  0.718193
37          13303  0.816336  0.775896  0.629003    NaN  0.735826
38          13401  0.743463  0.762822  0.676397  0.712  0.726599
39          13402  0.742570  0.822340  0.737301    NaN  0.766439
40          13403  0.801109  0.760228  0.601466    NaN  0.715509
41          13404  0.738969  0.776218  0.655095    NaN  0.721614
42          13501  0.787502  0.739201  0.642315    NaN  0.720423
43          13502  0.876923  0.756470  0.617345    NaN  0.742609
44          13503  0.811913  0.766193  0.647025    NaN  0.738340
45          13504  0.809846  0.756324  0.617808    NaN  0.723305
46          13505  0.819107  0.690242  0.556089    NaN  0.679979
47          13601  0.794968  0.802522  0.686845    NaN  0.759548
48          13602  0.740793  0.766459  0.679887    NaN  0.728127
49          13603  0.784525  0.808623  0.736952    NaN  0.776123
50          13604  0.764730  0.738680  0.659196  0.728  0.719437
51          13605  0.785732  0.801915  0.698606    NaN  0.760697

vac['%VAC_EDAD_0A5 '] = vac.iloc[:, 5:56].sum(axis=1)
vac

In [20]:
merged2['TOTAL']= merged2[['EDAD_0A5','EDAD_6A14','EDAD_15A64','EDAD_65YMAS']].sum(axis=1)

,Nombre_comuna,Codigo_comuna,EDAD_0A5,EDAD_6A14,EDAD_15A64,EDAD_65YMAS,LEI,II,EI,idh,HDI,TOTAL
0,Alhue,13502.0,309,489,4472,600,0.876923,0.756470,0.617345,NaN,0.742609,5870
1,Buin,13402.0,7296,11651,66360,7667,0.742570,0.822340,0.737301,NaN,0.766439,92974
2,Calera de Tango,13403.0,1700,2991,17442,2072,0.801109,0.760228,0.601466,NaN,0.715509,24205
3,Cerrillos,13102.0,5907,8703,53650,9273,0.782817,0.800343,0.713499,0.743,0.764616,77533
4,Cerro Navia,13103.0,9719,14745,89915,16011,0.752447,0.750382,0.657961,0.683,0.718874,130390
5,Colina,13301.0,13738,21129,98912,7813,0.667378,0.787350,0.625280,NaN,0.690036,141592
6,Conchali,13104.0,8730,12629,85791,16819,0.784872,0.760697,0.705426,0.707,0.749584,123969
7,Curacavi,13503.0,2284,3709,21872,3514,0.811913,0.766193,0.647025,NaN,0.738340,31379
8,El Bosque,13105.0,12071,18633,109501,19321,0.777236,0.780019,0.673876,0.711,0.742015,159526
9,El Monte,13602.0,2865,4375,24123,3363,0.740793,0.766459,0.679887,NaN,0.728127,34726
10,Estacion Central,13106.0,9422,12110,105479,16724,0.790810,0.784378,0.729145,0.735,0.767604,143735
11,Huechuraba,13107.0,8465,13508,66093,9016,0.726330,0.775631,0.641707,0.737,0.712375,97082
12,Independencia,13108.0,7195,8357,72314,10749,0.821551,0.751105,0.722493,0.709,0.763935,98615
13,Isla de Maipo,13603.0,2521,4353,24431,3381,0.784525,0.808623,0.736952,NaN,0.776123,34686
14,La Cisterna,13109.0,6162,8953,61118,12715,0.856570,0.835740,0.860235,0.775,0.850780,88948
15,La Florida,13110.0,24131,37044,251149,45185,0.773094,0.824255,0.791155,0.804,0.795888,357509
16,La Granja,13111.0,8539,12728,79967,13453,0.763582,0.751721,0.668837,0.689,0.726793,114687
17,La Pintana,13112.0,15156,23996,119328,15513,0.673794,0.758585,0.642574,0.679,0.689951,173993
18,La Reina,13113.0,5479,9402,62159,13321,0.890647,0.948908,0.968223,0.883,0.935337,90361
19,Lampa,13302.0,9327,14511,69124,5262,0.683453,0.787269,0.688481,NaN,0.718193,98224
20,Las Condes,13114.0,17548,23766,203649,44861,0.909774,0.971056,0.988014,0.933,0.955683,289824
21,Lo Barnechea,13115.0,7818,15397,73112,7582,0.831115,0.921621,0.813262,0.912,0.854046,103909
22,Lo Espejo,13116.0,7609,11098,67754,11420,0.759407,0.784503,0.690043,0.657,0.743558,97881
23,Lo Prado,13117.0,6532,9574,64747,13745,0.787707,0.775519,0.697989,0.715,0.752665,94598
24,Macul,13118.0,7347,10177,79768,16742,0.831334,0.842243,0.841346,0.806,0.838293,114034
25,Maipu,13119.0,32393,56836,370501,45224,0.768126,0.823406,0.808770,0.782,0.799755,504954
26,Maria Pinto,13504.0,785,1365,9071,1166,0.809846,0.756324,0.617808,NaN,0.723305,12387
27,Melipilla,13501.0,8937,14139,83196,13342,0.787502,0.739201,0.642315,NaN,0.720423,119614
28,Nunoa,13120.0,13414,15287,146549,29777,0.900363,0.947737,0.993361,0.860,0.946392,205027
29,Padre Hurtado,13604.0,5140,7296,43416,5061,0.764730,0.738680,0.659196,0.728,0.719437,60913
30,Paine,13404.0,5240,8900,49671,6332,0.738969,0.776218,0.655095,NaN,0.721614,70143
31,Pedro Aguirre Cerda,13121.0,6654,9736,68628,14007,0.815597,0.767565,0.733783,0.708,0.771589,99025
32,Penaflor,13605.0,6966,11202,61263,8432,0.785732,0.801915,0.698606,NaN,0.760697,87863
33,Penalolen,13122.0,16914,29019,167190,23945,0.749867,0.790376,0.660819,0.743,0.731645,237068
34,Pirque,13202.0,1932,3141,18189,2492,0.749975,0.847558,0.735982,0.807,0.776297,25754
35,Providencia,13123.0,8280,8303,101578,21805,0.917316,0.948546,1.044039,0.911,0.968496,139966
36,Pudahuel,13124.0,17228,27450,162552,18304,0.708344,0.764565,0.723853,0.735,0.731874,225534
37,Puente Alto,13201.0,41148,69347,401186,39781,0.725925,0.773923,0.721415,0.773,0.740045,551462
38,Quilicura,13125.0,15114,28469,150827,9997,0.667144,0.838734,0.763492,0.782,0.753152,204407
39,Quinta Normal,13126.0,7412,10515,76222,14010,0.813982,0.794761,0.686444,0.723,0.762931,108159
40,Recoleta,13127.0,11088,15726,109346,19301,0.775766,0.742308,0.672305,0.697,0.728831,155461
41,Renca,13128.0,11698,17951,99893,14152,0.725183,0.782950,0.674829,0.709,0.726315,143694
42,San Bernardo,13401.0,23331,38188,206389,24187,0.743463,0.762822,0.676397,0.712,0.726599,292095
43,San Joaquin,13129.0,6039,8519,64126,13509,0.814219,0.815018,0.747089,0.719,0.791456,92193
44,San Jose de Maipo,13203.0,1034,1768,11950,1755,0.789578,0.828198,0.654495,0.759,0.753607,16507
45,San Miguel,13130.0,7556,9325,76224,13628,0.855578,0.851691,0.816075,0.765,0.840925,106733
46,San Pedro,13505.0,633,1075,6126,1113,0.819107,0.690242,0.556089,NaN,0.679979,8947
47,San Ramon,13131.0,6064,8842,54971,11905,0.767104,0.772013,0.605335,0.679,0.710381,81782
48,Santiago,13101.0,22618,23769,323893,28936,0.791672,0.873137,0.924099,0.807,0.861222,399216
49,Talagante,13601.0,5619,8762,51047,6648,0.794968,0.802522,0.686845,NaN,0.759548,72076
50,Tiltil,13303.0,1452,2061,13195,1804,0.816336,0.775896,0.629003,NaN,0.735826,18512
51,Vitacura,13132.0,6219,8227,54307,14511,0.914831,0.996899,1.078779,0.949,0.994584,83264

In [19]:
merged2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 0 to 51
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nombre_comuna  52 non-null     object
 1   Codigo_comuna  52 non-null     float64
 2   EDAD_0A5       52 non-null     int64
 3   EDAD_6A14      52 non-null     int64
 4   EDAD_15A64     52 non-null     int64
 5   EDAD_65YMAS    52 non-null     int64
 6   LEI            52 non-null     float64
 7   II             52 non-null     float64
 8   EI             52 non-null     float64
 9   idh            37 non-null     float64
 10  HDI            52 non-null     float64
 11  TOTAL          0 non-null      float64
dtypes: float64(7), int64(4), object(1)
memory usage: 5.3+ KB

In [21]:
merged2.drop(['LEI','II','EI','HDI'],axis=1, inplace=True)
merged2.head()

,Nombre_comuna,Codigo_comuna,EDAD_0A5,EDAD_6A14,EDAD_15A64,EDAD_65YMAS,idh,TOTAL
0,Alhue,13502.0,309,489,4472,600,NaN,5870
1,Buin,13402.0,7296,11651,66360,7667,NaN,92974
2,Calera de Tango,13403.0,1700,2991,17442,2072,NaN,24205
3,Cerrillos,13102.0,5907,8703,53650,9273,0.743,77533
4,Cerro Navia,13103.0,9719,14745,89915,16011,0.683,130390

In [25]:
merged2= merged2.fillna(0)

In [29]:
melted1 = df.melt(id_vars=['Region','Codigo region','Comuna','Codigo comuna','Poblacion'],var_name='Edad')

In [36]:
melted1.Edad = melted1.Edad.astype(int)

In [37]:
def sumar(X):
    if X<65:
        return 'Edad<65'
    else: 
        return 'Edad65ymas'

In [38]:
melted1['Range']=melted1.Edad.apply(sumar)

melted1

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,Edad,value,Range
0,Metropolitana,13,Alhue,13502.0,7405.0,15,0.0,Edad<65
1,Metropolitana,13,Buin,13402.0,109641.0,15,0.0,Edad<65
2,Metropolitana,13,Calera de Tango,13403.0,28525.0,15,0.0,Edad<65
3,Metropolitana,13,Cerrillos,13102.0,88956.0,15,0.0,Edad<65
4,Metropolitana,13,Cerro Navia,13103.0,142465.0,15,0.0,Edad<65
...,...,...,...,...,...,...,...,...
3427,Metropolitana,13,San Ramon,13131.0,86510.0,80,2446.0,Edad65ymas
3428,Metropolitana,13,Santiago,13101.0,503147.0,80,7390.0,Edad65ymas
3429,Metropolitana,13,Talagante,13601.0,81838.0,80,1695.0,Edad65ymas
3430,Metropolitana,13,Tiltil,13303.0,21477.0,80,432.0,Edad65ymas
3431,Metropolitana,13,Vitacura,13132.0,96774.0,80,4747.0,Edad65ymas

In [49]:
melted1 = melted1.pivot_table(index =['Region','Codigo region','Comuna','Codigo comuna','Poblacion'], columns = 'Range' , values = 'value').reset_index()

In [50]:
melted1.head()

Range,Region,Codigo region,Comuna,Codigo comuna,Poblacion,Edad65ymas,Edad<65
0,Metropolitana,13,Alhue,13502.0,7405.0,54.3125,88.90
1,Metropolitana,13,Buin,13402.0,109641.0,642.3125,1203.12
2,Metropolitana,13,Calera de Tango,13403.0,28525.0,211.8125,343.28
3,Metropolitana,13,Cerrillos,13102.0,88956.0,605.6250,778.24
4,Metropolitana,13,Cerro Navia,13103.0,142465.0,880.0625,1109.00

In [53]:
melted1['Prop65'] = (melted1['Edad65ymas'] / (melted1['Edad<65'] + melted1['Edad65ymas']))
melted1.head()

Range,Region,Codigo region,Comuna,Codigo comuna,Poblacion,Edad65ymas,Edad<65,Prop65
0,Metropolitana,13,Alhue,13502.0,7405.0,54.3125,88.90,0.379244
1,Metropolitana,13,Buin,13402.0,109641.0,642.3125,1203.12,0.348055
2,Metropolitana,13,Calera de Tango,13403.0,28525.0,211.8125,343.28,0.381581
3,Metropolitana,13,Cerrillos,13102.0,88956.0,605.6250,778.24,0.437633
4,Metropolitana,13,Cerro Navia,13103.0,142465.0,880.0625,1109.00,0.442451

In [54]:
merged2.head()

,Nombre_comuna,Codigo_comuna,EDAD_0A5,EDAD_6A14,EDAD_15A64,EDAD_65YMAS,idh,TOTAL
0,Alhue,13502.0,309,489,4472,600,0.000,5870
1,Buin,13402.0,7296,11651,66360,7667,0.000,92974
2,Calera de Tango,13403.0,1700,2991,17442,2072,0.000,24205
3,Cerrillos,13102.0,5907,8703,53650,9273,0.743,77533
4,Cerro Navia,13103.0,9719,14745,89915,16011,0.683,130390

In [56]:
comunas = merged2[['Codigo_comuna','idh','TOTAL']].merge(melted1,left_on=['Codigo_comuna'],right_on=['Codigo comuna'],how='outer')
comunas.head()

,Codigo_comuna,idh,TOTAL,Region,Codigo region,Comuna,Codigo comuna,Poblacion,Edad65ymas,Edad<65,Prop65
0,13502.0,0.000,5870,Metropolitana,13,Alhue,13502.0,7405.0,54.3125,88.90,0.379244
1,13402.0,0.000,92974,Metropolitana,13,Buin,13402.0,109641.0,642.3125,1203.12,0.348055
2,13403.0,0.000,24205,Metropolitana,13,Calera de Tango,13403.0,28525.0,211.8125,343.28,0.381581
3,13102.0,0.743,77533,Metropolitana,13,Cerrillos,13102.0,88956.0,605.6250,778.24,0.437633
4,13103.0,0.683,130390,Metropolitana,13,Cerro Navia,13103.0,142465.0,880.0625,1109.00,0.442451

In [57]:


comunas['porcentaje_vacunas'] =  comunas['TOTAL'] / comunas['Poblacion']
comunas.head()

,Codigo_comuna,idh,TOTAL,Region,Codigo region,Comuna,Codigo comuna,Poblacion,Edad65ymas,Edad<65,Prop65,porcentaje_vacunas
0,13502.0,0.000,5870,Metropolitana,13,Alhue,13502.0,7405.0,54.3125,88.90,0.379244,0.792708
1,13402.0,0.000,92974,Metropolitana,13,Buin,13402.0,109641.0,642.3125,1203.12,0.348055,0.847986
2,13403.0,0.000,24205,Metropolitana,13,Calera de Tango,13403.0,28525.0,211.8125,343.28,0.381581,0.848554
3,13102.0,0.743,77533,Metropolitana,13,Cerrillos,13102.0,88956.0,605.6250,778.24,0.437633,0.871588
4,13103.0,0.683,130390,Metropolitana,13,Cerro Navia,13103.0,142465.0,880.0625,1109.00,0.442451,0.915242

In [59]:
comunas.corr('pearson')

,Codigo_comuna,idh,TOTAL,Codigo region,Codigo comuna,Poblacion,Edad65ymas,Edad<65,Prop65,porcentaje_vacunas
Codigo_comuna,1.000000,-0.829147,-0.383311,NaN,1.000000,-0.379981,-0.450618,-0.403078,-0.169120,-0.180388
idh,-0.829147,1.000000,0.440932,NaN,-0.829147,0.433358,0.523940,0.469075,0.184693,0.208847
TOTAL,-0.383311,0.440932,1.000000,NaN,-0.383311,0.996611,0.923260,0.976825,-0.184683,0.054148
Codigo region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Codigo comuna,1.000000,-0.829147,-0.383311,NaN,1.000000,-0.379981,-0.450618,-0.403078,-0.169120,-0.180388
Poblacion,-0.379981,0.433358,0.996611,NaN,-0.379981,1.000000,0.908651,0.979599,-0.228956,-0.016651
Edad65ymas,-0.450618,0.523940,0.923260,NaN,-0.450618,0.908651,1.000000,0.941407,0.059144,0.147394
Edad<65,-0.403078,0.469075,0.976825,NaN,-0.403078,0.979599,0.941407,1.000000,-0.227772,-0.005435
Prop65,-0.169120,0.184693,-0.184683,NaN,-0.169120,-0.228956,0.059144,-0.227772,1.000000,0.521815
porcentaje_vacunas,-0.180388,0.208847,0.054148,NaN,-0.180388,-0.016651,0.147394,-0.005435,0.521815,1.000000